@import "/src/styles/application-colors.sass"

.header
    padding: 14px 20px
    border-bottom: 1px solid rgba(0,0,0,0.12)

.align-ment
    display: flex
    justify-content: space-between
    align-items: center

.profile
    height: 44px
    width: 44px
    border-radius: 50%
    background-color: $Primary_Color
    margin-left: 20px

.notification
    height: auto
    width: auto
    font-size: 30px
