<div class="container-fluid">
  <app-header></app-header>
  <mat-drawer-container autosize>
    <mat-drawer
      #drawer
      class="sidenav"
      mode="side"
      [opened]="true"
      id="sidenav"
    >
      <h2 class="sidenav__title">Menu</h2>
      <ul class="sidenav__menu-bar">
        <li class="sidenav__menu-bar__item">
          <a
            routerLink="/home"
            class="sidenav__menu-bar__item__link"
            routerLinkActive="active"
          >
            <mat-icon class="sidenav__menu-bar__item__link__icon"
              >widgets</mat-icon
            >
            Home
          </a>
        </li>
        <li class="sidenav__menu-bar__item">
          <a
            routerLink="/users"
            class="sidenav__menu-bar__item__link"
            routerLinkActive="active"
          >
            <mat-icon class="sidenav__menu-bar__item__link__icon"
              >widgets</mat-icon
            >
            Users
          </a>
        </li>
        <li class="sidenav__menu-bar__item">
          <a
            routerLink="/blogs"
            class="sidenav__menu-bar__item__link"
            routerLinkActive="active"
          >
            <mat-icon class="sidenav__menu-bar__item__link__icon"
              >widgets</mat-icon
            >
            Blogs
          </a>
        </li>
      </ul>
    </mat-drawer>
    <div class="example-sidenav-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</div>
